<div *ngIf="pokemon">
  <button mat-raised-button color="accent" (click)="pokemonAddingMode=true" style="margin-bottom: 10px;margin-top: 5px;margin-left: 10px;">Add new Pokemon</button>
  <div *ngIf="pokemonAddingMode" >
    <form class="example-form">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field >
              <mat-label>Name</mat-label>
              <input matInput type="text" [(ngModel)]="newPokemonName" name="Name">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <input matInput type="text" [(ngModel)]="newPokemonType" name="Type">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <button mat-raised-button color="accent" (click)="addNewPokemon()">Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let p of pokemon">
      <app-pokemon [pokemon]="p"></app-pokemon>
      <button mat-icon-button (click)="openDialog(p.id)" class="removeButton">
        <mat-icon aria-hidden="false" aria-label="close">delete_outline</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
