<div *ngIf="pokemon">
  <button mat-raised-button color="accent" (click)="pokemonAddingMode=true" style="margin-bottom: 10px;margin-top: 5px;margin-left: 10px;">Add new Pokemon</button>
  <div *ngIf="pokemonAddingMode" >
    <form class="example-form">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field >
              <mat-label>Name</mat-label>
              <input matInput type="text" [(ngModel)]="newPokemonName" name="Name">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <input matInput type="text" [(ngModel)]="newPokemonType" name="Type">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <button mat-raised-button color="accent" (click)="addNewPokemon()">Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div class="pokemon-container" fxLayout="row wrap" fxLayoutAlign="start center" >
    <div *ngFor="let p of pokemon">
      <app-pokemon [pokemon]="p" (pokemonDeleted)="removePokemon($event)"></app-pokemon>
    </div>
  </div>
</div>
